@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  /* height: calc(100vh - 64px);
  margin: 0 0 64px 0;
  background: linear-gradient(
    180deg,
    rgba(254, 155, 125, 0.1),
    rgba(61, 185, 164, 0.1)
  ); */
}

@media screen and (min-width: 720px) {
  body {
    position: relative;
    width: 70vh;
    margin: auto;
  }

  .ReactModal__Overlay {
    margin: auto;
    width: 70vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
  height: calc(100vh - 64px);
  padding: 0 0 64px 0;
  background: linear-gradient(
    180deg,
    rgba(254, 155, 125, 0.1),
    rgba(61, 185, 164, 0.1)
  );
}

#backGround {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(254, 155, 125, 0.1),
    rgba(61, 185, 164, 0.1)
  );
}